


.header{
    text-align:center;
    font-size: 30px;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    background-image: linear-gradient(to right, red , blue);
    font-family: cursive;
}

.result_tab{
    background-color: lightgrey;
    width: 100px;
    font-size: 20px;
    border: 25px solid green;
    padding-right: 50px;
    padding-left: 20px;
    margin: 25px;
  }
    
    .main{
        background-image: url("../assets/bg.png")

    }

.container{
    height:90%;
    width:70%;
    margin: auto;
    display:grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    
}


.item{
    background: red;
    width:100%;
    color:transparent;
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 10px 6px -6px #777;

}
.item >span{
    display:none;
}
.item22, .item2, .item14, .item4, .item24{
background: rgb(3, 59, 112);
}
.item6, .item20, .item8,.item18{
    background: royalblue;
}
.item11, .item23, .item13, .item3, .item15{
    background: rgba(2, 151, 52, 0.973);
}
.item16, .item10, .item19, .item7{
    background: rgb(184, 19, 142);
}
.item21, .item1, .item9, .item5, .item25{
    background: rgb(235, 47, 14);
}
.item9, .item12{
    background: rgb(153, 133, 20)
}
.footer{
    background-color:grey;
    padding: 20px;
    margin: 10px;
    text-align: center;
}


/* By default font colro transparent, to overide on over of this div */

.item:hover{
    color:white;
    box-shadow: none;
}