
.header{
    text-align:center;
    font-size: 30px;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    background-image: linear-gradient(to right, red , blue);
    font-family: cursive;
}
    
    .main{
        background-image: url(../assets/mybg.png)
    }

.container{
    padding:0;
    height:90%;
    width:90%;
    margin: auto;
    display:grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    text-align: center;
vertical-align: middle;
line-height: 150px;
    
}


.item{
    background: red;
    color:transparent;
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 10px 6px -6px #777;

}
.item >span{
    display:none;
}
.item1, .item8,.item17, .item36, .item25, .item24{
background: rgb(212, 199, 14);
}
.item18, .item7,.item14, .item10, .item29, .item32{
    background: royalblue;
}
.item22, .item9, .item19, .item12, .item4, .item33{
    background: goldenrod;
}
.item27, .item20, .item11, .item3, .item31, .item34{
    background: midnightblue;
}
.item5, .item16, .item13, .item23, .item26, .item35{
    background: rgb(0, 174, 255);
}
.item6 .item21, .item2, .item28, .item30, .item15{
    background: rgb(194, 57, 57);
}

.footer{
    background-color:grey;
    padding: 20px;
    margin: 10px;
    text-align: center;
}


/* By default font colro transparent, to overide on over of this div */

.item:hover{
    color:white;
    box-shadow: none;
}